.conditions_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 110px;
}

.conditions_box > p {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}

.conditions_list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.icon_check {
  width: 16px;
  height: 16px;
}

.conditions_list_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.conditions_list_item > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}
