.address_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.address_box_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

.icon_location {
  width: 16px;
  height: 16px;
}

.address {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.mileage {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}
